# Data-Types

# Data-Types:- 1) Numbers (integers, float, complex)
             2) String 
             3) List
             4) Tuple
             5) set
             6) Dictionary

Datatypes are classified into two type
    1) Immutable (Hashable) and
    2) Mutable (Unhashable)
    
Immutable data Type: A data value which cannot be modified.
mutable data Type : A data value which can be modified.

Immutable (Hashable) data Type:
             1) Numbers (integers, float, complex) 
             2) String  
             3) Tuple
             
Mutable (Unhashable) data Type:
             1) List
             2) set 
             3) Dictionary 



To verify the type of any object in Python, use the type() function:

In [3]:
a=5

In [ ]:
a

## Numbers (integers, float, complex)

Number data types store numeric values.
           1) int
           2) float
           3) complex

In [ ]:
# 1) int
#     Integer is a whole number, positive or negative or zero, without decimals.

In [4]:
a = 222
print(a)
print(type(a))

222
<class 'int'>

In [5]:
b = 0
print(b)
print(type(b))

0
<class 'int'>

In [6]:
a = -222
print(a)
print(type(b))

-222
<class 'int'>

In [ ]:
# 2) float
#    Float is a number, positive or negative or zero, containing one or more decimals.

In [7]:
a = 222.222
print(a)
print(type(a))

222.222
<class 'float'>

In [8]:
b = 0.0
print(b)
print(type(b))

0.0
<class 'float'>

In [9]:
a = -1.2
print(a)
print(type(b))

-1.2
<class 'float'>

In [10]:
a=0

In [11]:
b=0.0

In [12]:
id(a)

1991372073232

In [13]:
id(b)

1991456452080

In [ ]:
# 3) complex
#   Complex numbers are written with a "j" as the imaginary part.

In [14]:
a = 5 + 3j
print(a)
print(type(a))

(5+3j)
<class 'complex'>

In [15]:
b = 8j
print(b)
print(type(b))

8j
<class 'complex'>

In [16]:
a = -1.2j + 8
print(a)
print(type(a))

(8-1.2j)
<class 'complex'>

In [ ]:
## How delete variable

In [17]:
a=5

In [18]:
a

5

In [19]:
del a

In [20]:
a

NameError: name 'a' is not defined

## Python Casting (type conversion)

In [21]:
#We can change int into float, float into int
type(int(12.2))

int

In [22]:
a=6
b=float(a)
print(b)
print(type(b))

6.0
<class 'float'>

In [23]:
a = 12.0
print(a,type(a))

12.0 <class 'float'>

In [24]:
b = int(a)
print(b,type(b))

12 <class 'int'>

In [ ]:
#We can convert int and float into complex but we can not convert complex into int or float

In [25]:
complex(2)

(2+0j)

In [26]:
complex(2.2)

(2.2+0j)

In [27]:
z=5+2j

In [28]:
z

(5+2j)

In [29]:
type(z)

complex

In [30]:
int(z)

TypeError: can't convert complex to int

In [31]:
float(z)

TypeError: can't convert complex to float

## String

Strings are one of the fundamental Python data types.
It is text or words or sentence in quotation mark (single or double). 
Strings are used to represent text.

properties:
1. Strings contain individual letters or symbols called characters.
2. Characters in a string appear in a sequence, which means that each character has a numbered position in the string.

In [33]:
# Here we assign Raj value to my_name variable

my_name = "Sai"
#          012
print(my_name)

Sai

In [34]:
my_name[2]

'i'

In [35]:
type(my_name)

str

In [36]:
len(my_name)

3

In [ ]:
# Multiline Strings :- You can assign a multiline string to a variable by using three quotes(sinle or double)

In [37]:
a = '''
My
Name
Is
Udit
'''

In [38]:
print(a)

My
Name
Is
Udit

In [39]:
print(type(a))

<class 'str'>

In [40]:
print(len(a))

17

In [41]:
del a

In [42]:
a

NameError: name 'a' is not defined

In [43]:
a = """
My
Name
Is
Akul
"""

In [44]:
print(a)
print(type(a))
print(len(a))

My
Name
Is
Akul

<class 'str'>
17

## Indexing

Indexing :-

    Indexing means referring to an element of an iterable by its position within the iterable. Each of a string’s characters corresponds to an index number and each character can be accessed using its index number. We can access characters in a String in Two ways :

    1) Accessing Characters by Positive Index Number
    2) Accessing Characters by Negative Index Number

In [ ]:
name = "Priyanka"
print(name)
print(len(name))


1) Accessing Characters by Positive Index Number:
   We pass a Positive index(which we want to access) in square brackets.
 The index number starts from index number 0 (which denotes the first character of a string).


2) Accessing Characters by Negative Index Number: 
    We pass the Negative index(which we want to access) in square brackets. 
    Here the index number starts from index number -1 (which denotes the last character of a string).

    0   1   2   3    4   5    6   7   ====>  Positive Index Number
    P   r   i   y    a   n    k   a   ====>  String
   -8  -7  -6  -5   -4   -3  -2   -1  ====>  Negative Index Number

In [ ]:
#Positive Index Number

In [45]:
name = "Priyanka"

In [48]:
name[1]

'r'

In [46]:
print(name[3])

y

In [47]:
print(name[-5])

y

In [49]:
print(name[7])

a

In [50]:
print(name[-1])

a

In [51]:
print(name[8])

IndexError: string index out of range

In [52]:
len(name)

8

In [53]:
print(name[0])     #First element
print(name[3])     
print(name[7])     
# print(name[9])   #IndexError :- string index out of range

P
y
a

In [54]:
# Negative Index Number

print(name[-8])     
print(name[-5])     
print(name[-1])    #Last element

P
y
a

In [55]:
b = "sghfk"

In [56]:
print(b[-4])

g

In [57]:
print(b[3])

f

## Slicing


Slicing :-

    Slicing in Python is a feature that enables accessing parts of the sequence. 
    We use slicing when we require a part of the string and not the complete string.
    
Syntax :
        string[start : end : step]

    start : We provide the starting index.
    end : We provide the end index(this is not included in substring).
    step : It is an optional argument that determines the increment between each index for slicing.
    
    left ------------------>right

In [58]:
#         0123456789   13
string = "This is python class for Data Analyst."
#                 8

In [59]:
print(string)
print(type(string))
print(len(string))

This is python class for Data Analyst.
<class 'str'>
38

In [61]:
string[8:14]

'python'

In [62]:
#Slicing
string[0:7]

'This is'

In [63]:
string[:]

'This is python class for Data Analyst.'

In [ ]:
string[0:7:2]

In [ ]:
string[7:0]

In [ ]:
string[7:0:-1]

In [ ]:
#         0123456789   13
string = "This is python class for Data Analyst."
#                 8

In [ ]:
# Extract only python word

string[]

In [64]:
b="python"

# p  y  t  h  o  n
# 0  1  2  3  4  5

In [68]:
b[6]

IndexError: string index out of range

In [67]:
len(b)

6

In [65]:
b[:]

'python'

In [66]:
b[::-1]

'nohtyp'

In [69]:
b[:3]

'pyt'

In [70]:
b[0:5]

'pytho'

In [ ]:
# p  y  t  h  o  n
# 0  1  2  3  4  5

In [71]:
b[0:5:2]

'pto'

In [72]:
b[0:5]

'pytho'

In [73]:
b[5:0]

''

In [74]:
b[5:0:-1]

'nohty'

In [75]:
print(string[8:13])

pytho

In [76]:
#Slicing
print(string[-13:-9])

Data

In [77]:
print(string[3:])

s is python class for Data Analyst.

In [78]:
print(string[:])

This is python class for Data Analyst.

In [ ]:
print(string[::-1])

In [ ]:
string = "This is python class for Data Analyst."

In [79]:
str2 = "Python"
 
print(str2[:])      # Full string
print(str2[::-1])   # Reverse string

Python
nohtyP

In [80]:
str2 = "Python"

In [81]:
str2[2]

't'

In [82]:
str2[2] = "T"

TypeError: 'str' object does not support item assignment

In [83]:
# str2[0] = "A"  #TypeError :-'str' object does not support item assignment
#String is immutable

In [84]:
#String Concatenation :-
str2 = "Python"
str3 = " Class"
str4 = str2 + str3  
print(str4)

Python Class

In [86]:
#String Repetation:-
str2 = "Python"
str5 = str2 * 3
print(str5)

PythonPythonPython

In [87]:
print("Hi" + " Good" + " Morning")
# print("Five" + 5)   #TypeError :- can only concatenate str (not "int") to str
print("Five " + '5')

Hi Good Morning
Five 5


string + string   ===> string
string + int      ===> Error
string + str(int) ===> string

In [88]:
"abc"+ 5

TypeError: can only concatenate str (not "int") to str

In [89]:
"abc"+ 5.6

TypeError: can only concatenate str (not "float") to str

In [90]:
"abc"+ str(5.6)

'abc5.6'

In [ ]:
a=5

In [91]:
type(str(a))

str

## STRING FORMATTING

STRING FORMATTING

     1) f-string
     2) .format()

placeholders {}



"My name is ---.I am --- years old"

In [92]:
name ="Raj"
age = 25

In [93]:
name

'Raj'

In [94]:
age

25

In [ ]:
"My name is name.I am age years old"

In [96]:
f"My name is {name}.I am {age} years old"

'My name is Raj.I am 25 years old'

In [ ]:
f"My name is {name} .I am {age} years old"

#  .format()

In [97]:
"My name is {}.I am {} years old".format(name,age)

'My name is Raj.I am 25 years old'

In [98]:
"My name is {}.I am {} years old".format(age,name)
#                                         0   1

'My name is 25.I am Raj years old'

In [99]:
"My name is {1}.I am {0} years old".format(age,name)
#                                           0    1

'My name is Raj.I am 25 years old'

In [100]:
a="My name is {1}.I am {0} years old"

In [101]:
a

'My name is {1}.I am {0} years old'

In [102]:
a.format(name,age)
#         0    1

'My name is 25.I am Raj years old'

In [103]:
a="abc"

In [ ]:
a

## String Methods

"""
 String Methods :-

 syntax:-
        stringVariableName.method()
"""

In [104]:
String = "Pythonclass"  #(a-z A-Z 0-9)
# isalnum() 
# Returns True if all characters in the string are alphanumeric .meaning alphabet letter (a-z) and numbers (0-9)
# not alphanumeric: (space)!#%&?

In [105]:
String.isalnum()

True

In [106]:
"abcd65876".isalnum()

True

In [107]:
"abcd 65876".isalnum()

False

In [108]:
"abcd,65876".isalnum()

False

In [109]:
str1 = String.isalnum()
str1

True

In [111]:
print(print(str1))

True
None

In [112]:
# isalpha()
# Returns True if all characters in the string are alphabet letters. (a-z)
str1 = String.isalpha() 
str1

True

In [114]:
"abcd65876".isalpha()

False

In [115]:
# upper() 
# Converts a string into upper case

String = "Python class"
b1 = String.upper()
print(b1)

PYTHON CLASS

In [116]:
#isupper()
a3 = "JAIPUR"
b3 = a3.isupper()
print(b3)

True

In [117]:
a3 = "JAIPUr"
b3 = a3.isupper()
print(b3)

False

In [118]:
#islower()
a4 = "wardha"
b4 = a4.islower()
print(b4)

True

In [119]:
a4.islower()

True

In [120]:
#capitalize()

a5 = "my name"
b5 = a5.capitalize()
print(b5)

My name

In [121]:
a5.title()

'My Name'

In [122]:
#swapcase()
name="Data science Masters"
name.swapcase()

'dATA SCIENCE mASTERS'

In [124]:
# startswith()

a6 = "delhi"
b6 = a6.startswith("d")
print(b6)

True

In [125]:
#endswith()

a7 = "akola"
b7 = a7.endswith("la")
print(b7)

True

In [126]:
#index()

a8 = "I am learning javascript"
b8 = a8.index("l")
print(b8)

5

In [127]:
#count()

a9 = "abhisha"
b9 = a9.count('a')
print(b9)

2

In [128]:
#replace()
a10 = "I am learning javascript"
b10 = a10.replace('javascript','python')
print(b10)

I am learning python

In [132]:
a10 = "I am learning javascript"
print(a10,id(a10))
a10 = a10.replace('javascript','python')
print(a10,id(a10))

I am learning javascript 1991501282400
I am learning python 1991492828656

In [133]:
# strip : Returns a trimmed version of the string

a11 = " amol "
len(a11)

6

In [134]:
b11 = a11.strip()
print(b11)
print(len(b11))

amol
4

In [146]:
# split()
#   Splits the string at the specified separator, and returns a list

print("abcdefghijklmn@gmail.com".split('@'))

['abcdefghijklmn', 'gmail.com']

In [147]:
"abcdefghijklmn@gmail.com".split('d')

['abc', 'efghijklmn@gmail.com']

In [148]:
print("abcdefghijklmn@gmail.com".split('g'))

['abcdef', 'hijklmn@', 'mail.com']

In [149]:
"abcdefg".split("c")

['ab', 'defg']

In [150]:
email="abcdefghijklmn@gmail.com"
print(email.split("@"))

['abcdefghijklmn', 'gmail.com']

In [144]:
a = "abc"
a.replace("a","A")

'Abc'

In [145]:
a="Python class aaa bbb  aaaa"

In [138]:
b=a.split("a")

In [139]:
b

['Python cl', 'ss ', '', '', ' bbb  ', '', '', '', '']

In [140]:
type(a)

str

In [141]:
type(b)

list

## List

List
    The list is an ordered sequence of mixed data type.
    List is mutable.

In [163]:
lst = [1,1,2,3]
type(lst)

list

In [164]:
l = [1,2,2]

In [165]:
print(type(l))
print(len(l))

<class 'list'>
3

In [151]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [152]:
 
print(a)

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [153]:
type(a)

list

In [154]:
len(a)

12

In [155]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [156]:
a[3]

4

In [157]:
a[3:]

[4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [158]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [159]:
a[0]

1

In [161]:
a[0]=100

In [162]:
a

[100, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [166]:
a[7][4]

'o'

In [167]:
print(len(a))

12

In [168]:
print(a[2])
print(a[3])

3
4

In [169]:
a[3] = "Four"
print(a[3])

Four

In [ ]:
a

In [170]:
print(a[-1])

Houndred

In [171]:
a

[100, 2, 3, 'Four', '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [172]:
a[:]

[100, 2, 3, 'Four', '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [173]:
a[::-1]

['Houndred', False, True, 'World', 'Hello', '7', '6', '5', 'Four', 3, 2, 100]

In [174]:
print(a.reverse())

None

In [175]:
a

['Houndred', False, True, 'World', 'Hello', '7', '6', '5', 'Four', 3, 2, 100]

In [176]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [177]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [178]:
a.reverse()

In [179]:
a

['Houndred', False, True, 'World', 'Hello', '7', '6', '5', 4, 3, 2, 1]

In [180]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [181]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [182]:
print(a.reverse())

None

In [183]:
aa=a.reverse()

In [187]:
aa

## for loop

In [188]:
# iterate over the list items 
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [191]:
for i in a :
    print(i,end=",")

1,2,3,4,5,6,7,Hello,World,True,False,Houndred,

In [ ]:
# Q.1 Print only True and false
# Q.2 Print only int
# Q.3 Print only those string that contains "l"
# Q.4 Print only those string that contains "l" at 3rd position #"Hello"

# Hint:- Use if condition