# Pandas

In [ ]:
import pandas as pd

In [ ]:
# pd.read_csv(r"D:\Freelance SQL\Excel\New Microsoft Excel Worksheet.csv")

In [ ]:
pd.read_excel("D:\Freelance SQL\Excel\New Microsoft Excel Worksheet.xlsx") # single forward or double backward slash

In [ ]:
pd.read_excel("D:\\Freelance SQL\\Excel\\New Microsoft Excel Worksheet.xlsx")

In [ ]:
pd.read_excel("D:/Freelance SQL/Excel/New Microsoft Excel Worksheet.xlsx")

In [ ]:
pd.read_excel(r"D:\Freelance SQL\Excel\New Microsoft Excel Worksheet.xlsx")

In [ ]:
df1 = pd.read_csv(r"C:\Users\dell\Desktop\Datademo\sample1.csv")  
# df1 = pd.read_csv(r"sample1.csv",header=None) #if 1st row is data
df1

In [ ]:
df1 = pd.read_csv(r"C:\Users\dell\Desktop\Datademo\sample1.csv",header=None) #if 1st row is data
df1

In [ ]:
import numpy as np
df2 = pd.DataFrame(np.random.randn(6,6),list("A B C D E F".split(" ")) ,list("U V W X Y Z".split(" ") ))
df2

In [ ]:
pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1.xlsx")

In [ ]:
data1=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1.xlsx")

In [ ]:
data1

In [ ]:
data2=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy.xlsx",skiprows=[1,2,3,4])

In [ ]:
data2

In [ ]:
data3=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (2).xlsx",header=3)

In [ ]:
data3

In [ ]:
data4=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (3).xlsx",usecols=["Name","age","Zipcode","Location"])

In [ ]:
data4

In [ ]:
data5=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (4).xlsx")

In [ ]:
data5

In [ ]:
data5=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (4).xlsx",header=1,skiprows=[1,3,4])

In [ ]:
data5

In [ ]:
data6=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (5).xlsx",sheet_name="Sheet1")

In [ ]:
data6

In [ ]:
data6["Year of Birth"]=2023-data6["age"]

In [ ]:
data6["age"]=data6["age"].astype(int) # int, str, float

In [ ]:
data6

In [ ]:
data6

In [ ]:
data6.shape

In [ ]:
data6.ndim

In [ ]:
data6.size

In [ ]:
type(data6) # collection of serieas is a  DF

In [ ]:
data6

In [ ]:
# Accessing columns 
#  using dot
#  not recommended
data6.Name

In [ ]:
data6

In [ ]:
#  [] for accessing the data
data6['Name']

In [ ]:
data6["Name","age"] # Multiple columns must be in another square bracket

In [ ]:
data6[["Name","age"]]

In [ ]:
data6[["Name","Age","Year of Birth"]] # case sensitive

In [ ]:
data6[["Name","age","Year of Birth"]]

In [ ]:
data6

In [ ]:
#  [] for accessing multiple columns
df2[['X','Z']]

In [ ]:
# U and V
df2[['U','V']]

In [ ]:
df2[["V","Y"]]

In [ ]:
# Adding a new column
df2["Z2"] = df2["Z"]*2
df2

In [ ]:
# deleting a column 
# inplace=True for permanent deletion
df2.drop('X',axis=1,inplace=True)
df2

In [ ]:

df2[["U","Y","Z2"]]

In [ ]:
# Accessing rows
df2.loc[['A','B',"D"]]

In [ ]:
df2.loc["A"]

In [ ]:
df2

In [ ]:
# accessing A row via indexing
df2.iloc[0:2]

In [ ]:
df2.iloc[0:2]["Z"]

In [ ]:
df2.rename(index={"A":"B","B":"A","C":"D","D":"P","E":"R","F":"G"})

In [ ]:
df2

In [ ]:
df2.rename(index={"A":"B","B":"A","C":"D","D":"P","E":"R","F":"G"},inplace=True)
df2

In [ ]:
df2

In [ ]:
df2.iloc[0:2]["Z"]

In [ ]:
df2.iloc["A"]["Z"]

In [ ]:
df2.iloc[0]["Z"]

In [ ]:
df2.loc["A":"B"]

In [ ]:
df2.loc["B":"A"]

In [ ]:
data6

In [ ]:
#common method

In [ ]:
data6

In [ ]:
data6.columns

In [ ]:
data6.columns

In [ ]:
data6.head() # By default 5rows

In [ ]:
data6.head(10)

In [ ]:
data6.tail()

In [ ]:
data6.tail(4)

In [ ]:
data6

In [ ]:
data6.info()

In [ ]:
data6.describe()

In [ ]:
data6.columns

In [ ]:
data6.index

In [ ]:
data4=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1 - Copy (3).xlsx")

In [ ]:
data4

In [ ]:
data4.isna()

In [ ]:
# data4[data4.isna()]

In [ ]:
data4

In [ ]:
data4[data4.isna().any(axis=1)]

In [ ]:
data4[data4.isna().all(axis=1)]

In [ ]:
data11=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1.xlsx")

In [ ]:
data11

In [ ]:
data11.duplicated()

In [ ]:
data11[data11.duplicated()]   # see duplicated values

In [ ]:
data11.drop_duplicates()  #Removes duplicates only for this step

In [ ]:
data12=data11.drop_duplicates()

In [ ]:
data12

In [ ]:
data11

In [ ]:
data11.drop_duplicates(inplace=True)  # Removed duplicates original dataframe

In [ ]:
data11

In [ ]:
data12=pd.read_excel(r"C:\Users\dell\Downloads\Python Test (1)\Test 1\New folder\outout_Q1.xlsx")

In [ ]:
data12

In [ ]:
data11.drop_duplicates(inplace=True)

In [ ]:
data11

In [ ]:
data=pd.read_excel(r"C:\Users\dell\OneDrive\Documents\sample198.xlsx")

In [ ]:
data

In [ ]:
data

In [ ]:
data[data.duplicated()]

In [ ]:
data1=data[["Roll No","Student Name"]]

In [ ]:
data1

In [ ]:
data1[data1.duplicated()]

In [ ]:
data1.drop_duplicates(inplace=True)

In [ ]:
data1

In [ ]:
data

In [ ]:
data[data.duplicated()]

In [ ]:
data[data.duplicated(subset=["Roll No","Student Name"])]

In [ ]:
data.drop_duplicates(subset=["Roll No","Student Name"],inplace=True)

In [ ]:
data

## Practice

In [ ]:
df4 = pd.read_csv(r"D:\Freelance SQL\Python\sample1.csv")

In [ ]:
df4

In [ ]:
# finding age greater than 23
df4>80

In [ ]:
df4[df4>80]

In [ ]:
df4[df4>80][["b","e"]]

In [ ]:
# 2. boolean > 40
df4 > 40

In [ ]:
# 3. getting the values of each boolean
df4[df4 > 40] # based on numpy, elementwise operation

In [ ]:
# applying condition for columns
df4[df4 > 40][["e","f","a"]]

In [ ]:
# applying multiple condition
df4['a']>70

In [ ]:
df4[df4['a']>70]["a"]

In [ ]:
df4

In [ ]:
# using AND 
df4[(df4['a']>70) &  (df4['b']>60)]
df4

In [ ]:
df4[(df4['a']>63) &  (df4['b']>60)]

In [ ]:
df4[(df4['a']>63) | (df4['b']>60)]

In [ ]:
#  OR using |
df4[(df4['a']>63) |  (df4['b']>60)]

In [ ]:
# filtering out only required columns
df4[(df4['a']>63) |  (df4['b']>60)][["a","b"]]

In [ ]:
df4[::-1]

In [ ]:
df4

In [ ]:
df4.loc[4,"f"]

In [ ]:
df4[(df4['a']>63) |  (df4['b']>60)][["a","b"]]

In [ ]:
df4

In [ ]:
df4.where(df4['a']>63)  #The where() method replaces the values of the rows where the condition evaluates to False.

In [ ]:
#  Missing data and Groupby

In [ ]:
df4

In [ ]:
df4.loc[0:0,'f':'f'] # df.loc[row,colum] , includes the last index
#  missing data

In [5]:
df5 = pd.read_csv(r"D:\Freelance SQL\Python\New folder\samplemiss.csv")
df5

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79
2  33.0  87.0  36.0   NaN   NaN  33
3  68.0   NaN   NaN  42.0  39.0  76
4   NaN  58.0  74.0  87.0  12.0  24

In [ ]:
 #NaN , nan means NOt A number

In [6]:
# df5.dropna(axis=0)
df5.dropna() # default axis is 0 , ie will check NaN in rows

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79

In [7]:
df5.dropna(axis=1)

    f
0  90
1  79
2  33
3  76
4  24

In [8]:
df5

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79
2  33.0  87.0  36.0   NaN   NaN  33
3  68.0   NaN   NaN  42.0  39.0  76
4   NaN  58.0  74.0  87.0  12.0  24

In [10]:
df5.dropna(thresh=5) # we should have a min 5 values

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79
4   NaN  58.0  74.0  87.0  12.0  24

In [11]:
df5.dropna(thresh=6)

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79

In [ ]:
df5.dropna(thresh=4)

In [12]:
df5.fillna(value="SOME DATA")

           a          b          c          d          e   f
0       74.0       39.0       12.0       13.0       14.0  90
1       25.0       58.0       12.0       99.0       74.0  79
2       33.0       87.0       36.0  SOME DATA  SOME DATA  33
3       68.0  SOME DATA  SOME DATA       42.0       39.0  76
4  SOME DATA       58.0       74.0       87.0       12.0  24

In [13]:
df5['a'].fillna(value=df5['a'].mean())

0    74.0
1    25.0
2    33.0
3    68.0
4    50.0
Name: a, dtype: float64

In [14]:
df5

      a     b     c     d     e   f
0  74.0  39.0  12.0  13.0  14.0  90
1  25.0  58.0  12.0  99.0  74.0  79
2  33.0  87.0  36.0   NaN   NaN  33
3  68.0   NaN   NaN  42.0  39.0  76
4   NaN  58.0  74.0  87.0  12.0  24

In [ ]:
df5.fillna(value=999)

In [ ]:
#  Concatenation
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

In [ ]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

In [ ]:
df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.concat([df1,df2,df3],axis=0) # default is axis=0

In [ ]:
pd.concat([df1,df2,df3],axis=1) # changing default is axis=0 to 1

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[4, 5, 6, 7],
)

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
#  Merging

In [ ]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

In [ ]:
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right, how='inner') # default how=inner   #'left'
                                                        # 'right'
                                                        # 'outer'
                                                        # 'inner'
                                                        # 'cross'

In [ ]:
pd.merge(left,right,how='outer', on='key')

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

In [ ]:
right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
# result = pd.merge(left, right, on=["key1", "key2"])

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,how='inner')

In [ ]:
pd.merge(left,right,how='outer', on=['key1','key2'])