## DICTIONARY  IN PYTHON

Dictionaries are used to store data values in key:value pairs.
    A dictionary is a collection which is  changeable and do not allow duplicates.
    Dictionaries cannot have two items with the same key

In [ ]:
# duplicate key in dictionary
animal = {
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}
print(animal)

In [ ]:
# keys are hashable
dict_student = {
    'name' : 'Viplov',
    'roll no.' : 54,
    'Addr' : 'Jalpigudi',
    'Hobby' :  'cricket',
#     [101,55,21,9] : 'Scores',# unhashable type: 'list'
    (101,55,21,9) : 'Score' ,# ok... but not to be used
    'Score' :[101,55,21,9],
    1 : 'ONE'
}
# keys are hashable
dict_student

In [ ]:
#  Defining the dict with values
#   dict does not stores the value by index

person = {
    "firstName":"Raj",
    (3,5,6):6,
    "Age":22
}

In [ ]:
type(person)

In [ ]:
# added
person["lastname"] = "RRRRR"
# dict    key          value

In [ ]:
person["lastname"]

In [ ]:
# create your dictionary containe your name
# add your lastname 
# add subject(subject contains subject name and subject teacher)
# add another one subject
# remove any one subject

# retrive value by using .get() method


## HOW TO CREATE A DICTIONARY

In [1]:
b_basic = {'name': 'Nikhita' ,'age': 26 , 'job' : 'SOftwareTeste'}
b_basic

{'name': 'Nikhita', 'age': 26, 'job': 'SOftwareTeste'}

In [2]:
# By using variable
a_var = dict(name = "rahul", age = 32 ,job = 'teacher')
a_var

{'name': 'rahul', 'age': 32, 'job': 'teacher'}

In [3]:
a_var.items()

dict_items([('name', 'rahul'), ('age', 32), ('job', 'teacher')])

In [4]:
# By using tuple
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])
d_tup

{'name': 'Akash', 'age': 35, 'job': 'Instructor'}

In [7]:
d_tup = dict(('name',"Akash"),('age',35),('job',"Instructor")) # use list

TypeError: dict expected at most 1 argument, got 3

In [5]:
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])

In [6]:
d_tup

{'name': 'Akash', 'age': 35, 'job': 'Instructor'}

In [40]:
# By using two list
list_keys = [1,2,3,4,5,6,]
list_values= ["one","two","three","four","five","six"]

In [23]:
list_keys = [1,2,3]
list_values= ["one","two","three","four","five","six"]

In [41]:
a=zip(list_keys ,list_values)

In [25]:
a

In [26]:
type(a)

zip

In [27]:
for i in a:
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [33]:
dict(a)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [38]:
list(a)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [42]:
tuple(a)

((1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six'))

In [ ]:
c_zip = dict(zip(list_keys ,list_values))
c_zip

In [ ]:
list(zip(list_keys ,list_values))

In [43]:
list_keys = (1,2,3,4,5,6,)
list_values= ("one","two","three","four","five","six")

c_zip = dict(zip(list_keys ,list_values))
c_zip

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [44]:
list_keys = (1,2,3)
list_values= ("one","two","three","four","five","six")

c_zip = dict(zip(list_keys ,list_values))
c_zip

{1: 'one', 2: 'two', 3: 'three'}

In [45]:

list_values= ("one","two","three","four","five","six")
list_keys = (1,2,3)

c_zip = dict(zip(list_values,list_keys ))
c_zip

{'one': 1, 'two': 2, 'three': 3}

## Homework

In [ ]:
# score_vk = {
#         one_day : 700,
#         test : 740,
#         t_20 : 470,
#         international : 250
# }

In [46]:
# 1. CREATE ABOVE DICTIONARY USING BASIC METHOD 
# {} AND NAME IT AS score_vk_basic
score_vk = {"one_day" : 700,"test" : 740,"t_20" : 470,"international" : 250}
print(score_vk)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [ ]:
# 2. CREATE ABOVE DICTIONARY USING 
# variable assignments way AND NAME IT AS score_vk_var
score_vk_var= dict(one_day = 700,test = 740,t_20 = 470,international = 250)
print(score_vk_var)

In [47]:
score_vk

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [49]:
# 3. CREATE ABOVE DICTIONARY USING 
# tuple pair way  AND NAME IT AS score_vk_basic_tup
score_vk_basic_tup = dict([("one_day", 700),("test" , 740),("t_20" , 470),("international" , 250)])
print(score_vk_basic_tup)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [48]:
score_vk.items()

dict_items([('one_day', 700), ('test', 740), ('t_20', 470), ('international', 250)])

In [52]:
# 4. CREATE ABOVE DICTIONARY USING 
# zip method CONSIDERING 
# KEYS LIST AS list_keys AND 
# VALUES LIST AS list_values  AND 
# NAME IT AS score_vk_basic_tup
list_keys = ['one_day', 'test', 't_20', 'international']
list_values = [700, 740, 470, 250]
score_vk_basic_tup = dict(zip(list_keys,list_values))
print(score_vk_basic_tup)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [50]:
score_vk.keys()

dict_keys(['one_day', 'test', 't_20', 'international'])

In [51]:
score_vk.values()

dict_values([700, 740, 470, 250])

### zip()

In [53]:
score_vk.keys()

dict_keys(['one_day', 'test', 't_20', 'international'])

In [54]:
score_vk.values()

dict_values([700, 740, 470, 250])

In [64]:
list_keys = ['one_day', 'test', 't_20', 'international']
#                0        1        2       3         
list_values = [700, 740, 470, 250]
#              0     1    2    3

In [65]:
a=zip(list_keys,list_values)

In [61]:
a

In [62]:
type(a)

zip

In [63]:
for i in a:
    print(i)

('one_day', 700)
('test', 740)
('t_20', 470)
('international', 250)

In [67]:
dict(zip(list_keys,list_values))

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [68]:
list(zip(list_keys,list_values))

[('one_day', 700), ('test', 740), ('t_20', 470), ('international', 250)]

In [69]:
tuple(zip(list_keys,list_values))

(('one_day', 700), ('test', 740), ('t_20', 470), ('international', 250))

### Method

In [70]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [81]:
student["age","city"]=25,3

In [82]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 25,
 'skills': ['pyhton', 'javascript'],
 ('age', 'city'): (25, 3)}

In [72]:
student["city"]

KeyError: 'city'

In [73]:
student.get("age")

23

In [74]:
student.get("city")

In [75]:
student.get("city","City not given")

'City not given'

In [76]:
student1=student.copy()

In [77]:
student1

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [83]:
student1 = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [84]:
student1

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [85]:
#update()

student1.update({"firstName":"Raj","age":40})
print(student1)

{'firstName': 'Raj', 'lastName': 'deshpande', 'age': 40, 'skills': ['pyhton', 'javascript']}

In [87]:
student1.update({"firstName":"Raj","age":50,"city":"pune"})
print(student1)

{'firstName': 'Raj', 'lastName': 'deshpande', 'age': 50, 'skills': ['pyhton', 'javascript'], 'city': 'pune'}

In [88]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [92]:
student

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 23}

In [90]:
# Deleting a key-value pair
del student["skills"]

In [93]:
student

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 23}

In [94]:
# Removing and returning the value associated with a key
student.pop()

TypeError: pop expected at least 1 argument, got 0

In [95]:
student.pop("firstName")

'Priyanka'

In [96]:
student

{'lastName': 'deshpande', 'age': 23}

In [97]:
# Clearing all items from the dictionary
student.clear()

In [98]:
student

{}

In [ ]:

# # setdefault() = get + update
# If the key does not exist, insert the key, with the specified value
# # Syntax
# dictionary.setdefault(keyname, value)

In [108]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [109]:
student['city']

KeyError: 'city'

In [110]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [111]:
student.setdefault('city','Pune')
print(student)

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 23, 'skills': ['pyhton', 'javascript'], 'city': 'Pune'}

In [112]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript'],
 'city': 'Pune'}

In [113]:
student.setdefault('city',['Pune',"abc"])
print(student)

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 23, 'skills': ['pyhton', 'javascript'], 'city': 'Pune'}

In [ ]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
    'city':"Mumbai"
}

In [ ]:
student.setdefault('city','Pune')  #If not exist then update
print(student)

In [ ]:
# # fromkeys()
# The fromkeys() method returns a dictionary with the specified keys and the specified value.
# #Syntax
# dict.fromkeys(keys, value)

In [114]:
dict.fromkeys(["Acc1","Acc2","Acc3"],0)

{'Acc1': 0, 'Acc2': 0, 'Acc3': 0}

In [115]:
keys = ["Acc1","Acc2","Acc3"]
y = 0
d = dict.fromkeys(keys,y)
print(d)

{'Acc1': 0, 'Acc2': 0, 'Acc3': 0}

In [116]:
keys = ["student1","student2","student3"]
y = [1,2,3]

d = dict.fromkeys(keys,y)
print(d)

{'student1': [1, 2, 3], 'student2': [1, 2, 3], 'student3': [1, 2, 3]}

In [ ]:
d.keys()

In [ ]:
d.values()

In [117]:
dict.fromkeys(["student1","student2","student3"],[1, 2, 3])

{'student1': [1, 2, 3], 'student2': [1, 2, 3], 'student3': [1, 2, 3]}

In [118]:
dict.fromkeys(["student1","student2","student3"],"Welcome")

{'student1': 'Welcome', 'student2': 'Welcome', 'student3': 'Welcome'}

In [119]:
dict.fromkeys(["student1","student2","student3"])

{'student1': None, 'student2': None, 'student3': None}

#### More examples

In [139]:
# fromkeys

dist = ['dist1', 'dist2' ,'dist3','dist4','dist5']


# monsoon  = {
#     'dist1'	: 0,
#     'dist2'	: 0,
#     'dist3'	: 0,
#     'dist4'	: 0,
#     'dist5'	: 0,
# }

# monsoon = dict.fromkeys([KEYS] , "Default Values")
monsoon =  dict.fromkeys(dist , 0)
print(monsoon)

{'dist1': 0, 'dist2': 0, 'dist3': 0, 'dist4': 0, 'dist5': 0}

In [137]:
monsoon2 = dict.fromkeys(dist) # By default value is None
print(monsoon2)

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

In [123]:
monsoon3 = dict.fromkeys(dist , [10,25,30])
print(monsoon3)

{'dist1': [10, 25, 30], 'dist2': [10, 25, 30], 'dist3': [10, 25, 30], 'dist4': [10, 25, 30], 'dist5': [10, 25, 30]}

In [124]:
# clear
print(monsoon3)

{'dist1': [10, 25, 30], 'dist2': [10, 25, 30], 'dist3': [10, 25, 30], 'dist4': [10, 25, 30], 'dist5': [10, 25, 30]}

In [125]:
monsoon3.clear()
print(monsoon3)

{}

In [126]:
# pop 
print(monsoon2)

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

In [127]:
monsoon2.pop('dist3') # delete the key value pair
print(monsoon2)

{'dist1': None, 'dist2': None, 'dist4': None, 'dist5': None}

In [140]:
monsoon

{'dist1': 0, 'dist2': 0, 'dist3': 0, 'dist4': 0, 'dist5': 0}

In [141]:
monsoon.update({'dist1': 22, 'dist2': 33, 'dist7': 99})

In [142]:
monsoon

{'dist1': 22, 'dist2': 33, 'dist3': 0, 'dist4': 0, 'dist5': 0, 'dist7': 99}

In [143]:
print(monsoon)
print(monsoon.popitem()) # delete the latest  entry not the last 
print(monsoon)

{'dist1': 22, 'dist2': 33, 'dist3': 0, 'dist4': 0, 'dist5': 0, 'dist7': 99}
('dist7', 99)
{'dist1': 22, 'dist2': 33, 'dist3': 0, 'dist4': 0, 'dist5': 0}

In [144]:
print(monsoon)
print(monsoon.popitem()) # delete the latest  entry not the last 
print(monsoon)

{'dist1': 22, 'dist2': 33, 'dist3': 0, 'dist4': 0, 'dist5': 0}
('dist5', 0)
{'dist1': 22, 'dist2': 33, 'dist3': 0, 'dist4': 0}

In [ ]:
print(monsoon)
print(monsoon.popitem()) # delete the latest  entry not the last 
print(monsoon)

In [ ]:
print(monsoon)
print(monsoon.popitem()) # delete the latest  entry not the last 
print(monsoon)

In [128]:
# popitem

print(monsoon2)
monsoon2.popitem() # delete the latest  entry not the last 
print(monsoon2)

{'dist1': None, 'dist2': None, 'dist4': None, 'dist5': None}
{'dist1': None, 'dist2': None, 'dist4': None}

In [129]:
monsoon2.update({'dist1': 100,'dist11': 100,'dist111': 100,})
print(monsoon2)

{'dist1': 100, 'dist2': None, 'dist4': None, 'dist11': 100, 'dist111': 100}

In [135]:
print(monsoon2)
print(monsoon2.popitem()) # delete the latest  entry not the last 
print(monsoon2)

{}

KeyError: 'popitem(): dictionary is empty'

In [145]:
monsoon2

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

In [146]:
# del

print(monsoon2)
del(monsoon2["dist11"])

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

KeyError: 'dist11'

In [147]:
monsoon2

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

In [148]:

print(monsoon2)
del(monsoon2["dist4"])

{'dist1': None, 'dist2': None, 'dist3': None, 'dist4': None, 'dist5': None}

In [149]:
del monsoon2
print(monsoon2)

NameError: name 'monsoon2' is not defined

## Control flow statements

In [150]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
      print(x)

apple
banana
cherry

In [151]:
a = 33
b = 33
if b > a:
      print("b is greater than a")
else:
      print("a and b are equal")

a and b are equal

In [152]:
a = 200
b = 33
if b > a:
      print("b is greater than a")
elif a == b:
      print("a and b are equal")
else:
      print("a is greater than b")

a is greater than b

In [153]:
#initialize count variable to 1
count =2

while count < 6 :
    print (count)
    count+=1 # count = count +1
#the above line means count = count + 1

2
3
4
5

In [154]:
# 3,5,7,9
count =3

while count < 10 :
    print (count)
    count+=2

3
5
7
9

In [155]:
for i in range(0, 10):
    print(i)
    
print("I got it")

0
1
2
3
4
5
6
7
8
9
I got it

break statement

It terminates the loop immediately and transfers execution to the new statement after the loop.

In [156]:
for i in range(0, 10):
    if i == 3:
        break
    print(i)

0
1
2

In [157]:
for i in range(0, 10):
    if i == 3:
        break
    print(i)
    
print("I got it")

0
1
2
I got it

In [158]:
for i in range(0, 10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [159]:
for i in range(0, 10):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

continue statement
The continue statement causes the loop to skip its current execution at some point and move on to the next iteration. Instead of terminating the loop like a break statement, it moves on to the subsequent execution.

In [160]:
for i in range(0, 5):
    if i == 3:
        continue
    print(i)

0
1
2
4