## for loop

In [1]:
# iterate over the list items 
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [2]:
for i in a :
    print(i,end=",")

1,2,3,4,5,6,7,Hello,World,True,False,Houndred,

In [3]:
# Q.1 Print only True and false
# Q.2 Print only int
# Q.3 Print only those string that contains "l"
# Q.4 Print only those string that contains "l" at 3rd position #"Hello"

# Hint:- Use if condition

## Range()


Range():-
    The range() function returns a sequence of numbers, starting from 0 by default,
    and increments by 1 (by default), and stops before a specified number.
Syntax
    range(start, stop, step)

    Parameter	Description
    start	    Optional. An integer number specifying at which position to start. Default is 0
    stop	    Required. An integer number specifying at which position to stop (not included).
    step	    Optional. An integer number specifying the incrementation. Default is 1

In [4]:
#eg.1
a = range(10)

In [5]:
a

range(0, 10)

In [6]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
range(2,5)

range(2, 5)

In [9]:
list(range(2,5,2))

[2, 4]

In [ ]:
# can we make table?

In [10]:
list(range(5,51,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
#eg. Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = range(3, 6)
for n in x:
    print(n)

3
4
5

In [14]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']
#   0  1  2  3   4    5    6     7        8       9      10     11

In [15]:
len(a)

12

In [13]:
for i in a:
    print(i)

1
2
3
4
5
6
7
Hello
World
True
False
Houndred

In [16]:
#can we iterate item in list using range?


for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7
Hello
World
True
False
Houndred

In [ ]:
# ### Slicing
#a[starting_index:ending_index:jump]
# All Elements

In [17]:
print(a[3:]) # From 3 to foward

[4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [18]:
print(a[5:8] )# Between 5 and 8 (5,8)

['6', '7', 'Hello']

In [19]:
print(a[:3] )# from start to 3

[1, 2, 3]

In [20]:
print(a[::]) #start_index:Ending_index:Jump(how many index we want to skip)

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [22]:
print(a[::-1]) # Reverse

['Houndred', False, True, 'World', 'Hello', '7', '6', '5', 4, 3, 2, 1]

In [23]:
# ### Concatenate
b = [1,2,3,4]
c = [4,6,7,8]
n = b + c
n

[1, 2, 3, 4, 4, 6, 7, 8]

In [24]:
b+55

TypeError: can only concatenate list (not "int") to list

In [25]:
b*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [26]:
b*c

TypeError: can't multiply sequence by non-int of type 'list'

In [27]:
# ### Data Manipulation

a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]
print(a)

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [28]:
# List is mutable
a[4]

'5'

In [29]:
a[4] = 55

In [30]:
a[4]

55

In [31]:
a

[1, 2, 3, 4, 55, '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [32]:
complex_list = [1,"1",[1],["1"],[[1],["hello"]]]

In [33]:
#           0 1 2   3
#                  0 1
a = [1,2,3,[4,5,6,[7,8]],9,10]
#    0 1 2      3        4 5

In [34]:
#print 8
print(a[3][3][1])

8

In [35]:
#print 9
a[4]

9

In [36]:
#print 6

a[3][2]

6

## Method

In [37]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [38]:
type(a)

list

In [39]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [40]:
a.append("This is a another String") # Add an element
print(a)

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred', 'This is a another String']

In [42]:
a.remove(4) # remove element
print(a)

[1, 2, 3, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [43]:
# The insert() method inserts an item at the specified index:
b = [8, 9, 12]
b.insert(2, 40)  #index,value
print(b)

[8, 9, 40, 12]

In [44]:
# To add an item to the end of the list, use the append() method:
b = [8, 9, 12]
b.append(40)
print(b)

[8, 9, 12, 40]

In [45]:
b = [8, 9, 12]
b.append(40,50)
print(b)

TypeError: list.append() takes exactly one argument (2 given)

In [46]:
b = [8, 9, 12]
b.append([40,50])
print(b)

[8, 9, 12, [40, 50]]

In [49]:
# To append elements from another list to the current list, use the extend() method.
b = [8, 9, 12]
b.extend([23])
print(b)

[8, 9, 12, 23]

In [48]:
# To append elements from another list to the current list, use the extend() method.
b = [8, 9, 12]
b.extend([23,24,25])
print(b)

[8, 9, 12, 23, 24, 25]

In [ ]:
# Difference between append and extend?

In [56]:
# The remove() method removes the specified item.
b = [8, 9, 12, 23,18, 24, 25]
c=b.remove(18) # provide value not index
print(b)

[8, 9, 12, 23, 24, 25]

In [59]:
c

In [51]:
# The pop() method removes the specified index.
b = [8, 9, 12, 23,18, 24, 25]

In [52]:
print(b.pop()) # provide index not value

25

In [53]:
print(b)

[8, 9, 12, 23, 18, 24]

In [ ]:
b = [8, 9, 12, 23,18, 24, 25]

In [54]:
print(b.pop(3)) # provide index not value

23

In [55]:
b

[8, 9, 12, 18, 24]

In [60]:
# If you do not specify the index, the pop() method removes the last item.
b = [8, 9, 12, 23,18, 24, 25]

In [61]:
print(b.pop())

25

In [62]:
print(b)

[8, 9, 12, 23, 18, 24]

In [64]:
# The del keyword also removes the specified index:
b = [8, 9, 12, 23,18, 24, 25]
del b[3]
print(b)

[8, 9, 12, 18, 24, 25]

In [63]:
# The del keyword can also delete the list completely.
b = [8, 9, 12, 23,18, 24, 25]
del b
print(b)

NameError: name 'b' is not defined

In [65]:
# The clear() method empties the list.
b = [8, 9, 12, 23,18, 24, 25]
b.clear()
print(b)

[]

In [66]:

# Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [67]:
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [68]:
thislist.sort(reverse=False)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [70]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [71]:
# Does not work if different datatypes present 
thislist = ["orange", "mango", 434,890,1,4,9,"kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

TypeError: '<' not supported between instances of 'int' and 'str'

In [72]:
5<6

True

In [73]:
5<"6"

TypeError: '<' not supported between instances of 'int' and 'str'

In [74]:
# Sort Descending
# To sort descending, use the keyword argument reverse = True:

# Example
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [80]:
thislist = [100, 50, 65, 82, 23]

In [81]:
thislist.sort(reverse = True)

In [82]:
print(thislist)

[100, 82, 65, 50, 23]

In [83]:
# Sorted
thislist = [100, 50, 65, 82, 23]

In [84]:
print(sorted(thislist))

[23, 50, 65, 82, 100]

In [85]:
print(thislist)

[100, 50, 65, 82, 23]

In [77]:
sorted(thislist,reverse=True)

[100, 82, 65, 50, 23]

In [78]:
sorted(thislist,reverse=False)

[23, 50, 65, 82, 100]

In [ ]:
#Difference between sort and sorted?

In [86]:
a=[100, 50, 65, 82, 23]

In [89]:
c=a.sort()

In [88]:
a

[23, 50, 65, 82, 100]

In [90]:
print(c)

None

In [92]:
a=[100, 50, 65, 82, 23]

In [93]:
c=sorted(a)

In [94]:
a

[100, 50, 65, 82, 23]

In [95]:
print(c)

[23, 50, 65, 82, 100]

In [ ]:
# Copy a List
# You cannot copy a list simply by typing list2 = list1, 
# because: list2 will only be a reference to list1,
# and changes made in list1 will automatically also be made in list2.

# There are ways to make a copy, one way is to use the built-in List method copy().

In [96]:
# Example
# Make a copy of a list with the copy() method:
a = [2,3,4,5,6]
b = a     # shallow copy

In [97]:
a

[2, 3, 4, 5, 6]

In [98]:
b

[2, 3, 4, 5, 6]

In [99]:
id(a)

2149989700608

In [100]:
id(b)

2149989700608

In [102]:
a

[2, 3, 4, 5, 6]

In [101]:
b

[2, 3, 4, 5, 6]

In [103]:
b[1] = "Three"

In [104]:
b

[2, 'Three', 4, 5, 6]

In [105]:
a

[2, 'Three', 4, 5, 6]

In [106]:
a = [2,3,4,5,6]
c=a.copy()  #deep copy

In [107]:
a

[2, 3, 4, 5, 6]

In [108]:
c

[2, 3, 4, 5, 6]

In [109]:
id(a)

2149990596288

In [110]:
id(c)

2149991313536

In [111]:
c[1] = "Three"

In [112]:
c

[2, 'Three', 4, 5, 6]

In [113]:
a

[2, 3, 4, 5, 6]

## input() function

In Python, Using the input() function, we take input from a user, and using the
print() function we display output on the screen. 


The Python input() function is used to accept user inputs. 

input (): This function first takes the input from the user and converts it into a string.

In [114]:
a=5

In [115]:
b = input("Enter any number ")

Enter any number 6

In [116]:
b

'6'

In [117]:
type(b)

str

In [118]:
a = int(input("Enter any number"))

Enter any number23

In [119]:
a

23

In [120]:
type(a)

int

In [121]:
# Example:

number = input('Enter a number ')
print('User entered:',number)

Enter a number
User entered:

In [122]:
print(type(number))

<class 'str'>

In [123]:
#You can change input datatype by casting
#eg.1
number = int(input('Enter a number '))
print('User entered:',number)

Enter a number 88
User entered: 88

In [124]:
print(type(number))

<class 'int'>

In [125]:
#eg.2
product_quantity = int(input('Enter a Quantity: '))
product_price = int(input('Enter size: '))
product_cost = product_quantity * product_price

print('Your item cost is: ',product_cost)

Enter a Quantity: 5
Enter size: 6
Your item cost is:  30

## CONDITIONAL STATEMENT IN PYTHON

In [ ]:
if condition:
    code1

In [ ]:
if condition:
    code1
    code2
else:
        code1

In [ ]:
if condition:
    code1
    code2
if condition:
    code1
    code2
if condition:
    code

In [ ]:
if condition:
    code1
    code2
elif condition:
    code1
    code2
elif condition:
    code1
    code2
else:
    code

In [ ]:
if condition:
    code1
    code2
elif condition:
    code1
    code2
else:

In [126]:
# eg: 
# voting age


age_candidate = (input(" Enter your age :"))
print("your age is : {}".format(age_candidate))


if age_candidate >= 18: # boundary condition
    print(" You are eligible for voting")
else:
    print(" You are not  eligible for voting")

 Enter your age :44
your age is : 44

TypeError: '>=' not supported between instances of 'str' and 'int'

In [127]:
"44">18

TypeError: '>' not supported between instances of 'str' and 'int'

In [128]:
# eg: 
# voting age


age_candidate = int(input(" Enter your age :"))
print("your age is : {}".format(age_candidate))


if age_candidate >= 18: # boundary condition
    print(" You are eligible for voting")
else:
    print(" You are not  eligible for voting")

 Enter your age :44
your age is : 44
 You are eligible for voting

In [129]:
marks = int(input("Enter your total marks: "))
print("Your marks are : {}".format(marks))

print(type(marks))


if marks> 95:
    print("Grade A")
if marks> 80:
    print("Grade B")
if marks> 75:
    print("Grade C")

Enter your total marks: 96
Your marks are : 96
<class 'int'>
Grade A
Grade B
Grade C

In [130]:
marks = int(input("Enter your total marks: "))
print("Your marks are : {}".format(marks))

print(type(marks))


if marks> 95:
    print("Grade A")
elif marks> 80:
    print("Grade B")
elif marks> 75:
    print("Grade C")

Enter your total marks: 96
Your marks are : 96
<class 'int'>
Grade A

In [131]:
# EG:
#Take marks from student and calculate its average. If average is greater than 35 he is pass otherwise give message "Try next time"


phy = int(input("Enter marks of Physics : "))
che = int(input("Enter marks of Chem : "))
maths = int(input("Enter marks of Maths : "))


print("your marks in phy {}".format(phy))
print("your marks in che {}".format(che))
print("your marks in maths {}".format(maths))

average = (phy+che+maths)/3
print(average)


if average > 35 :
    print("Pass")
else:
    print("Try next time")

Enter marks of Physics : 55
Enter marks of Chem : 66
Enter marks of Maths : 88
your marks in phy 55
your marks in che 66
your marks in maths 88
69.66666666666667
Pass

In [133]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate < 18:
    print("You are not eligible to vote")
elif 18 <= age_candidate < 45:
    print("You are  eligible to vote")
elif 45 <= age_candidate < 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 60 <= age_candidate < 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")

Enter you age: 18
You are  eligible to vote

In [137]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate <= 18:
    print("You are not eligible to vote")
elif 45 <= age_candidate <= 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 18 <= age_candidate <= 45:
    print("You are  eligible to vote")
elif 60 <= age_candidate <= 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")

Enter you age: 45
You are  eligible to vote
You  must exercise your rights properly

In [134]:
6<6

False

In [135]:
6<=6

True

In [138]:
[1,1,2,3,4]

[1, 1, 2, 3, 4]

## Tuple

A tuple is a collection which is ordered and unchangeable (Immutable) and allow duplicates.

Tuples are written with round brackets.

In [139]:
# editing the values inside a tuple
#      0 1 2 3 4 5 6 
tup = (1,3,5,7,9,9,9)

In [140]:
tup1=(1,2,2,2.0,"gg")

In [141]:
tup1

(1, 2, 2, 2.0, 'gg')

In [142]:
type(tup1)

tuple

In [143]:
len(tup1)

5

In [144]:
tup = (1,3,5,7,9,9,9)

In [145]:
tup[2]

5

In [146]:
tup[2:]

(5, 7, 9, 9, 9)

In [147]:
tup[:]

(1, 3, 5, 7, 9, 9, 9)

In [148]:
tup[::-1]

(9, 9, 9, 7, 5, 3, 1)

In [149]:
tup[2] = 4    # Immutable

TypeError: 'tuple' object does not support item assignment

In [150]:
tup2 = 2,3
tup2

(2, 3)

In [154]:
tup3 = 2,
tup3

(2,)

In [151]:
type(tup2)

tuple

In [155]:
type(tup3)

tuple

In [152]:
type(4)

int

In [153]:
type((4,))

tuple

In [156]:
tup3= 4,

In [157]:
tup3

(4,)

In [158]:
type(tup3)

tuple

### methods in a tuple

In [160]:
tup = (1,3,5,7,9,9,9)
print(tup.count(9))
print(tup.count(45))

3
0

In [161]:
print(tup.index(7)) 
print(tup.index(9)) #1st occurance of the element

3
4

In [ ]:
## function

print(min(tup))
print(max(tup))

In [162]:
print(sorted(tup)) #return you a list

1
9
[1, 3, 5, 7, 9, 9, 9]

In [163]:
print(sorted(tup,reverse=True))

[9, 9, 9, 7, 5, 3, 1]

In [164]:
sorted("Hello")

['H', 'e', 'l', 'l', 'o']